#mainDiv {
    width: 100vw;
    height: 100vh;
    background-color:azure;
    display: grid;
    grid-template-columns: minmax(20%, 200px) 1fr;
}
#sidebar {
    background-color: aqua;
}
#content {
    background-color: beige;
}